@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Poppins:ital,wght@0,300;1,300&family=Roboto+Condensed&family=Signika+Negative:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto+Condensed:wght@700&family=Viga&display=swap");
body {
    background-image: linear-gradient(
        to bottom right,
        /* rgba(15, 97, 157, 1), */ rgb(28, 121, 188),
        rgb(232, 236, 240)
    );
    /* background-color: rgb(28, 121, 188); */
}

/* Mobile Version */
@media (max-width: 576px) {
    nav.sticky {
        opacity: 0.8;
        box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
        background-image: linear-gradient(
            to bottom left,
            rgba(15, 97, 157, 1),
            rgb(154, 177, 199)
        );
    }
    .nav-link {
        font-family: "Signika Negative";
        font-weight: 600;
    }

    .nav-brand,
    .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }
    .img,
    .jumbotron {
        display: none;
    }

    .product,
    .tombol {
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: "Poppins";
        border-radius: 8px;
    }
    .product .tombol:hover {
        transition: 0.3 ease-in-out;
        background-color: #0492f9;
    }

    #cari,
    button {
        padding: 15px;
    }

    .img-slide {
        margin-top: -20px;
    }

    /* carousel gambar dan indikator css */
    .carousel-inner img {
        width: 200px;
        height: 200px;
        border-radius: 40px;
    }
    .carousel-indicators button {
        margin-bottom: -150%;
        background-color: red !important;
    }

    .carousel-inner .gambar {
        width: 100px;
        height: 100px;
    }

    .bungkus {
        background-color: white;
        border-radius: 40px;
    }

    .bungkus-merk {
        margin-top: 20px;
        padding: 50px;
    }

    .icons {
        margin-top: 30px;
        margin-left: 20px;
        margin-bottom: 30px;
        text-align: center;
        display: inline-block;
    }

    .icons a {
        box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
        transition: 0.5s ease;
        margin: 10px 0;
        background-color: white;
        width: 60px;
        height: 60px;
        position: relative;
        display: block;
        font-size: 30px;
        line-height: 60px;
        border-radius: 50%;
        color: black;
    }

    .icons span {
        box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
        visibility: hidden;
        width: 120px;
        background-color: #fff;
        color: #14b8a6;
        text-align: center;
        border-radius: 18px;
        /* padding: 5px 0; */
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
        font-size: small;
        font-weight: 600;
        margin-bottom: -15px;
    }

    .icons span::before {
        position: absolute;
        content: "";
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        bottom: -5px;
        left: 50%;
        transform: translate(-50%);
    }
    .icons:hover span {
        transform: translateY(-10px);
        visibility: visible;
        opacity: 1;
        transition-delay: 0.2s;
    }

    .bungkus-product {
        margin-top: -35px !important;
        padding-top: 100px;
        padding: 50px;
        background-color: rgb(227, 221, 221);
    }

    .icons a:hover {
        background-color: #14b8a6;
        color: white;
        transform: translate(0, -25px);
        box-shadow: 0 20px 8px rgba(0, 0, 0, 0.5);
    }

    .bungkus-product h1 {
        font-family: "Poppins";
        font-weight: 800;
        margin-bottom: 35px;
        text-align: center;
    }

    .bungkus-product,
    .tombol {
        text-align: center;
        margin-top: 10px;
    }

    .bungkus-waves {
        margin-top: -75px;
    }

    #list-product-sec {
        margin-top: -10px;
        background-color: #f3f4f5;
    }

    .list-product h1 {
        display: none;
    }

    .list-product-card {
        display: none;
    }

    .list-product .tombol {
        display: none;
    }
    #intro {
        display: none;
    }
    /* keunggulan kami */
    #keunggulan-kami {
        background-color: #ffffff;
        margin-top: -20px;
        padding-top: 5%;
    }

    .keunggulan-kartu {
        border-radius: 15px;
        margin-bottom: 35px;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
        transition: 0.5s ease;
    }

    .keunggulan-kartu .card-title {
        margin-top: 20px;
        font-size: 24px;
        font-weight: 700;
        font-family: "Poppins";
    }

    .keunggulan-kartu .card-text {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 400;
        font-family: "Poppins";
    }

    .gambar-keunggulan i {
        color: #0a58ca;
        padding: 15% 0;
        margin-left: 50px;
        font-size: 100px;
    }
    .keunggulan-kartu:hover {
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.7);
        /* transform: translate(0, -25px); */
    }
}

/* Dekstop Version */
@media (min-width: 992px) {
    #cari {
        display: none;
    }

    #hit-box {
        display: none;
    }

    #slide-interval {
        display: none;
    }

    #jumbotron {
        padding-bottom: 15%;
    }

    .carousel-indicators button {
        margin-top: 100%;
        background-color: red !important;
    }

    nav.sticky {
        opacity: 0.8;
        box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
        background-image: linear-gradient(
            to bottom right,
            rgba(28, 121, 188, 1),
            rgb(154, 177, 199)
        );
        backdrop-filter: blur(5px);
    }

    .nav-link {
        margin-right: 30px;
        text-transform: uppercase;
        font-family: "Signika Negative";
        font-weight: 400;
        border-radius: 8px;
    }

    .nav-link:hover {
        background-color: #0d6efd !important ;
        border-radius: 8px;
    }

    .nav-brand,
    .nav-link {
        color: white !important;
        /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7); */
    }

    .jumbotron h4 {
        font-family: "Poppins";
        font-size: 24px;
        margin-top: 30%;
        font-weight: 600;
        color: white;
    }

    .jumbotron h4 span {
        font-family: "Poppins";
        font-size: 24px;
        margin-top: 30%;
        font-weight: 400;
        color: white;
    }

    .jumbotron h1 {
        font-family: "Poppins";
        font-size: 36px;
        margin-top: 30px;
        font-weight: 700;
        color: white;
    }

    .jumbotron p {
        font-family: "Poppins";
        margin-top: 3%;
        font-size: 24px;
        font-weight: 600;
        color: #ffff;
    }

    .gambar-card {
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
        display: flex;
    }

    .gambar-card i {
        box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
        transition: 0.5s ease;
        margin: 0 120px;
        background-color: #0f172a;
        width: 60px;
        height: 60px;
        position: relative;
        display: block;
        font-size: 30px;
        line-height: 60px;
        border-radius: 50%;
        color: white;
    }

    .j-title {
        text-align: center;
        font-family: "Poppins";
        font-size: 24px;
        font-weight: 700;
    }
    .l-text {
        text-align: center;
        margin-top: 15px;
        color: #64748b;
    }
    .t-card {
        margin: 0 60px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
    }

    .jumbotron,
    .img {
        margin-top: 15px;
    }

    .jumbotron,
    .tombol {
        font-family: "Poppins";
    }

    .product,
    button {
        padding-bottom: 100%;
    }

    .product .tombol {
        text-align: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: "Poppins";
        border-radius: 8px;
    }

    .product,
    .tombol:hover {
        transition: 0.3 ease-in-out;
        /* background-color: #0492f9; */
        opacity: 0.7;
    }
    #intro {
        margin-top: -10px;
        background-color: #ffffff;
    }
    .kartu {
        margin-top: -50%;
        margin-bottom: 100px;
        border-radius: 12px;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
        transition: 0.5s ease;
    }

    .kartu:hover {
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.7);
        transform: translate(0, -25px);
    }

    #list-product-sec {
        background-color: #ffffff;
        margin-top: -20px;
        padding-top: 5%;
    }

    .intro-display {
        padding: 50px;
    }

    .list-product,
    h1 {
        font-family: "Kanit";
        font-size: 45px;
        font-weight: bold;
        padding-bottom: 20px;
        text-align: left;
    }

    .list-product h1 span {
        color: rgb(44, 205, 44);
    }

    .list-product,
    .tombol {
        text-align: right;
    }

    /* keunggulan kami */
    #keunggulan-kami {
        background-color: #ffffff;
        margin-top: -20px;
        padding-top: 5%;
    }

    .keunggulan-kartu {
        border-radius: 15px;
        margin-bottom: 35px;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
        transition: 0.5s ease;
    }

    .keunggulan-kartu .card-title {
        margin-top: 20px;
        font-size: 24px;
        font-weight: 700;
        font-family: "Poppins";
    }

    .keunggulan-kartu .card-text {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 400;
        font-family: "Poppins";
    }

    .gambar-keunggulan i {
        color: #0a58ca;
        padding: 15% 0;
        margin-left: 50px;
        font-size: 100px;
    }
    .keunggulan-kartu:hover {
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.7);
        /* transform: translate(0, -25px); */
    }
}
